<%- include("partials/header") %>

<% if (locals.blogs && locals.blogs.length > 0) { %>
  <% for (let i = 0; i < locals.blogs.length; i++) { %>
    <div class="modal modal-sheet position-static d-block" tabindex="-1" role="dialog" id="modalSheet">
      <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow form-control">
          <div class="border-bottom-0 blog">
            <h5 class="modal-title fs-5 pb-1"><%= locals.blogs[i]["full_name"] %></h5>
          </div>
          <div class="modal-body py-0">
            <p class="blog border-top 1 pt-1"><%= locals.blogs[i]["blog"] %></p>
            <p class="blog"><%= locals.blogs[i]["posted"] %></p>
          </div>
          <div>
            <form
              action="/edit-blog/<%= i %>"
              method="GET"
              class="modal-footer flex-column align-items-stretch w-100 border-top-0 p-1"
            >
              <button type="submit" class="btn btn-lg btn-primary" id="edit">Edit</button>
            </form>
            <form
              action="/delete/<%= i %>"
              method="GET"
              class="modal-footer flex-column align-items-stretch w-100 border-top-0 p-1"
            >
              <button name="blog" type="submit" class="btn btn-lg btn-secondary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% } %>
<% } else { %>
  <div class="container">
    <p id="no_post">No blog posts available.</p>
  </div>
<% } %>

<%- include("partials/footer.ejs") %>
